<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="fav.css">
    <script src="script.js"></script>
</head>
<body>
    <div id="menu">
        <span id="logo"><span style="color: #D6E2FF;">ath</span><span style="color: #D95E52;">on</span></span>
        <div id="search-bar">
            <input type="text" placeholder="Pesquisar">
            <button>Buscar</button>
        </div>
        <ul id="navigation">
            <li><a href="index.html"><img src="casinha.png" alt="Ícone de Início" class="small-icon"><span>Início</span></a></li>
            <li><a href="fav.html"><img src="estrela.png" alt="Ícone de Favoritos" class="small-icon"><span>Favoritos</span></a></li>
            <li><a href="perfilpost.html"><img src="perfil.png" alt="Ícone de Perfil" class="small-icon"><span>Perfil</span></a></li>
            <li><a href="login.html"><img src="sair.png" alt="Ícone de Sair" class="small-icon"><span>Sair</span></a></li>
        </ul>
    </div>
    <div id="content">
        <div id="left-column">
            <div id="profile">
                <div id="cover-photo"></div>
                <img src="http://127.0.0.1:3000/avatarNull.png" alt="Foto de Perfil" class="profile-image">
                <h2>Seu Nome</h2>
                <p class="description"></p>
            </div>
        </div>
        <div id="middle-column">
            <h2 class="favorites-title">Favoritados:</h2>
            <div id="favorites">
                <!-- Lista de posts favoritos aqui -->
            
            </div>
        </div>
        <div id="right-column">
            <br>
            <br>
            <br>
            <br>
            <br>
            <!-- Conteúdo da barra lateral aqui -->
            <!-- <div class="box">
                <h2>Posts Favoritados:</h2>
            </div>
            <div class="box">
                <h2>Conexões Possíveis:</h2>
            </div> -->
        </div>
    </div>

    <script type="module" src="../controller/listaLikes.js"></script>
</body>
</html>
